* {
    box-sizing: border-box;
}

body {
    width: auto; 
    margin: 0 auto;
    background-image: url("../../assets/images/wild_oliva.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #f56509;
    }

h1 {
    text-align: center;
} 

#giphy-button{
    margin-left: 15%;
    background-color: #f8f8ff;
}

button {
    margin: 10px;
    background-color: #fff;
    font-size: 14px;
    font-weight: bold;
}

button:hover {
    text-shadow: .5px .5px 1px #000;
}

div, form, input {
    margin: 15px;
    font-weight: bold;
}

div {
    font-size: 12px;
    font-weight: normal;
}

#gifAdd-form {
    float: left;
    clear: both;
    width: 75%;
    margin: 0 auto;
    padding-top: 1%; 
    font-size: 16px;
    letter-spacing:  2px;
    text-align: center;
}

.row {
   clear: both;
}
.gifLayouts  {
    display: block;
}

.inline {
    display: inline-block
}

.animatedGIF {
    border: 2px solid lightgrey;
    }
